<ul class="timeline f32">
  <li id='champions' ng-repeat="champion in champions" ng-class='{odd: champion.odd}'>
    <div class="timeline-badge">
      <a class="season-year" href="#/season/{{champion.season}}">
        {{champion.season}}
      </a>
    </div>
      <div class="timeline-panel">
        <div class="timeline-heading">

          <h4 class="timeline-title ">
            <a class='driver' target="_blank" href="{{champion.driver.url}}">{{champion.driver.givenName}} {{champion.driver.familyName}}</a>
          </h4>
          <span class="flag {{champion.flag}}"></span>
          <p class="font-weight-bold">
            <small class="text-muted"><i class="glyphicon glyphicon-record"></i>
              <a target="_blank" href="{{champion.constructor.url}}" class="constructor font-weight-bold">{{champion.constructor.name}}</a>
            </small>
          </p>
        </div>

        <div class="timeline-body">
          <p>Total of points - {{champion.driver.points}}</p>
          <p>Total of wins - {{champion.driver.totalWins}}</p>

          <p><a class="btn btn-primary" href="#/season/{{champion.season}}">
            More about the season
          </a></p>
        </div>

      </div>

  </li>
</ul>