<h2 id="timeline" ng-show="ready">Selected season - {{seasons[0].raceData.season}}</h2>

<span class="label label-success">* Winner of the season</span>
<div class="row">

  <div class="col-sm-6 col-md-4 f32" ng-repeat="season in seasons">
    <div class="thumbnail" ng-class="{champion: season.champion}">
      <div class="caption">
        <h3>
          <a href="{{season.circuit.url}}" target="_blank">
            <span class="flag {{season.flag}}"></span>
            {{season.raceData.raceName}}
          </a>
        </h3>
          <p>Round - {{season.raceData.round}}</span></p>
          <p>Total time - {{season.time}}</p>
          <p>Laps - {{season.laps}} <span class="badge"><i class="glyphicon glyphicon-flash"></i> {{season.fastestLap.Time.time}}</span> </p>
          <p>
            <a class="btn btn-primary" href="{{season.driver.url}}" target="_blank">
              <span class="badge">1st</span> {{season.driver.givenName}} {{season.driver.familyName}} - {{season.constructor.name}}
            </a>
          </p>
      </div>
    </div>
  </div>
</div>

